# ---- Build artefacts --------------------------------------------------------
target/

# ---- IDE / Editor -----------------------------------------------------------
.idea/
.vscode/
*.iml

# ---- Version control --------------------------------------------------------
.git/
.gitattributes
.gitignore

# ---- GitHub Actions ---------------------------------------------------------
.github/

# ---- Docs / misc ------------------------------------------------------------
README.md
HELP.md
LICENSE
openapi/

# ---- OS artefacts -----------------------------------------------------------
.DS_Store
Thumbs.db
